<div class="container-fluid h-100 p-4">

    <div id="toolbar">
        <div class="toolbar-content">
            <button mat-raised-button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                <mat-icon>calculate</mat-icon>
                Ny Kalkyl
            </button>
            <span class="spacer"></span>
            <button mat-raised-button type="button" (click)="onPrint()" [print]="['checkList', config]">
                <mat-icon>save</mat-icon>
                Spara PDF
            </button>
        </div>
    </div>
    <div id="card-group-one">
        <div class="sw-card" id="special-border-radius">
            <div class="card-content">
                <div class="card-header">
                    <h2>Ränta / Månadsavgift</h2>
                    <button mat-mini-fab class="question">
                        <mat-icon>
                            question_mark
                        </mat-icon>
                    </button>
                </div>
                <div class="card-body">
                    <div class="slider">
                        <div>
                            <label class="example-value-label bold-text-small">{{value / 100 |
                                percent}}</label>
                        </div>
                        <mat-slider [(ngModel)]="value" id="interest-slider" class="example-margin" thumbLabel
                            [max]="max" [min]="min" [vertical]="true" [step]="step"
                            (valueChange)="whatIfInterestIncr()">

                        </mat-slider>
                    </div>

                    <div class="display-value">
                        <div class="text" style="text-align: center;">
                            <p>Om räntan på föreningens lån ökar med <b>1%</b> ökar din månadsavgift med:</p>
                            <h1 class="bold-text-big">{{responseData?.interestRateOnePercent | currency: 'kr/mån '}}
                            </h1>
                            <h3 #hidden class="bold-text-big">0 kr/mån</h3>
                        </div>
                        <hr width="100%">
                        <div class="text" style="text-align: center;">
                            <p>Men vad skulle hända med din månadsavgift din förenings ränta ökade med
                                <b>{{value}}%</b> ta reda på det genom att dra slidern till vänster:
                            </p>
                            <h3 class="bold-text-big">
                                {{whatIfInterestIncrease | currency: 'kr/mån '}}
                            </h3>
                            <h3 #hidden7 class="bold-text-big">0 kr/mån</h3>
                            <div class="display-risk"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="card-group-two">
        <div class="sw-card-ex-bg">
            <div class="card-content">
                <div class="card-header">
                    <h2>BRF resultat / boyta</h2>
                    <button mat-mini-fab class="question">
                        <mat-icon>question_mark</mat-icon>
                    </button>
                </div>

                <div class="card-body p-3">
                    <div #ratioProportionResult class="display-value">
                        <h1 class="bold-text-big">{{responseData?.proportionResult | currency: 'kr/kvm '}}</h1>
                        <h3 #hidden3 class="bold-text-big">0 kr/kvm</h3>
                    </div>
                    <div class="display-risk">
                        <h3 #riskTextProportionResult class="risk-limit-text">

                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="sw-card-ex-bg">
            <div class="card-content">
                <div class="card-header">
                    <h2>Andel av BRF Amortering</h2>
                    <button mat-mini-fab class="question">
                        <mat-icon>question_mark</mat-icon>
                    </button>
                </div>

                <div class="card-body p-3">
                    <div #ratioProportionAmortization class="display-value">
                        <h1 class="bold-text-big">{{responseData?.proportionAmortization | currency: 'kr/kvm '}}
                        </h1>
                        <h3 #hidden6 class="bold-text-big">0 kr/kvm</h3>
                    </div>
                    <div class="display-risk">
                        <h3 class="risk-limit-text"></h3>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="card-group-three">

        <div class="left pb-3">
            <div class="sw-card pb-3">
                <div class="card-content">
                    <div class="card-header">
                        <h2>Årsavgift / boyta</h2>
                        <button mat-mini-fab class="question">
                            <mat-icon>question_mark</mat-icon>
                        </button>
                    </div>

                    <div class="card-body p-3">
                        <div #ratioAnnualFeeSqm class="display-value">
                            <h1 class="bold-text-big">{{responseData?.annualFeeSqm | currency: 'kr/kvm '}}
                                <h3 #hidden1 class="bold-text-big">0 kr/kvm </h3>
                            </h1>
                        </div>
                        <div class="display-risk">
                            <mat-progress-bar hor mode="determinate" color='{{progressAnnualFeeSqmColor}}'
                                value='{{progressAnnualFeeSqm}}'>
                            </mat-progress-bar>
                            <h3 #riskTextAnnualFeeSqm class="risk-limit-text"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sw-card pb-3">
                <div class="card-content">
                    <div class="card-header">
                        <h2>Driftskostnad / boyta</h2>
                        <button mat-mini-fab class="question">
                            <mat-icon>question_mark</mat-icon>
                        </button>
                    </div>

                    <div class="card-body p-3">
                        <div #ratioOperatingFee class="display-value">
                            <h1 class="bold-text-big">{{responseData?.operatingCostSqm | currency: 'kr/kvm '}}</h1>
                            <h3 #hidden2 class="bold-text-big">0 kr/kvm </h3>
                        </div>
                        <div class="display-risk">
                            <mat-progress-bar mode="determinate" color='{{progressOperatingFeeColor}}'
                                value='{{progressOperatingFee}}'>
                            </mat-progress-bar>
                            <h3 #riskTextOperatingFee class="risk-limit-text"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right pb-3 ">
            <div class="sw-card pb-3">
                <div class="card-content">
                    <div class="card-header">
                        <h2>Andel av BRF sparande</h2>
                        <button mat-mini-fab class="question">
                            <mat-icon>question_mark</mat-icon>
                        </button>
                    </div>

                    <div class="card-body p-3">
                        <div #ratioSavings class="display-value">
                            <h1 class="bold-text-big">
                                {{responseData?.proportionOfAssociationSavings | currency: 'kr/kvm '}}
                            </h1>
                            <h3 #hidden4 class="bold-text-big">0 kr/kvm</h3>
                        </div>
                        <div class="display-risk">
                            <mat-progress-bar mode="determinate" color='{{progressSavingsColor}}'
                                value='{{progressSavings}}'>
                            </mat-progress-bar>
                            <h3 #riskTextSavings class="risk-limit-text"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sw-card pb-3">
                <div class="card-content">
                    <div class="card-header">
                        <h2>Andel av BRF Lån</h2>
                        <button mat-mini-fab class="question">
                            <mat-icon>question_mark</mat-icon>
                        </button>
                    </div>

                    <div class="card-body p-3">
                        <div #ratioLoans class="display-value">
                            <h1 class="bold-text-big">{{responseData?.proportionOfAssociationLoans | currency:
                                'kr/kvm'}}</h1>
                            <h3 #hidden5 class="bold-text-big">0 kr/kvm</h3>
                        </div>
                        <div class="display-risk">
                            <mat-progress-bar mode="determinate" color='{{progressColor}}' value='{{progressLoans}}'>
                            </mat-progress-bar>
                            <h3 #riskTextLoans class="risk-limit-text"></h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="card-group-four">
        <div class="sw-card">
            <div class="card-content">
                <div class="card-header">
                    <h2>Andel kommersiella intäkter</h2>
                    <button mat-mini-fab class="question">
                        <mat-icon>question_mark</mat-icon>
                    </button>
                </div>

                <div class="card-body">
                    <div class="chart-container">
                        <div id="doughnut-chart" [chart]="doughnutChart"></div>
                    </div>
                </div>
                <div class="card-header">
                    <h2>Ditt måttband</h2>
                    <mat-icon color="primary">square_foot</mat-icon>
                </div>
                <p class="p-1">Se vad låg till hög innebär</p>
                <div class="card-body list">
                    <div class="risk-list">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        Årsavgift / boyta
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="d-flex w-100">
                                            <h3 class="bold-text-small">Din nivå är</h3>
                                            <h3 #riskTextAnnualFeeSqm class="risk-limit-text"></h3>
                                        </div>
                                        ≤325 kr/kvm (låg) <br>
                                        >325≤650 kr/kvm (låg till måttlig) <br>
                                        >650≤900 kr/kvm (måttlig till hög) <br>
                                        >900 kr/kvm (hög) <br>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                        Driftskostnad / boyta
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="d-flex w-100">
                                            <h3 class="bold-text-small">Din nivå är</h3>
                                            <h3 #ratioOperatingFee class="risk-limit-text"></h3>
                                        </div>
                                        ≤ 375 kr/kvm (låg) <br>
                                        >375≤450 kr/kvm (låg till måttlig) <br>
                                        >450≤550 kr/kvm (måttlig till hög) <br>
                                        >550 kr/kvm (hög) <br>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        Andel av BRF sparande
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="d-flex w-100">
                                            <h3 class="bold-text-small">Din nivå är</h3>
                                            <h3 #riskTextSavings class="risk-limit-text"></h3>
                                        </div>
                                        ≤100 kr/kvm (låg)
                                        >100≤150 kr/kvm (låg till måttlig)
                                        >150≤200 kr/kvm (måttlig till hög)
                                        >200 kr/kvm (hög)
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseFour" aria-expanded="false"
                                        aria-controls="flush-collapseFour">
                                        Andel av BRF Lån
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="d-flex w-100">
                                            <h3 class="bold-text-small">Din nivå är</h3>
                                            <h3 #riskTextLoans class="risk-limit-text"></h3>
                                        </div>
                                        ≤3000 kr/kvm (låg) <br>
                                        >3000≤6000 kr/kvm (låg till måttlig) <br>
                                        >6000≤9000 kr/kvm (måttlig till hög) <br>
                                        >9000 kr/kvm (hög) <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Calculate Brf Modal -->
    <div class="modal right fade" id="exampleModal2" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newCalculation">Brf Kalkyl</h5>
                    <button mat-mini-fab type="button" color="warn" data-bs-dismiss="modal" aria-label="Close">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="modal-body">
                    <form #brfForm="ngForm" (ngSubmit)="onCalculateBrf(brfForm)">
                        <mat-stepper orientation="vertical" linear #stepper>
                            <mat-step>
                                <ng-template matStepLabel>Försäkringar</ng-template>
                                <div class="description">
                                    <p>
                                        Är bostadsrättsföreningens fastighet fullvärdeförsäkrad?
                                    </p>
                                </div>
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button #yes1 color="primary" value="Ja">Ja</mat-radio-button>
                                    <mat-radio-button #no1 color="primary" value="Ja">Nej</mat-radio-button>
                                </mat-radio-group>
                                <div class="description">
                                    <p>
                                        Har bostadsrättsföreningen en ansvarsförsäkring för styrelsen
                                    </p>
                                </div>
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button #yes2 color="primary" value="Ja">Ja</mat-radio-button>
                                    <mat-radio-button #no2 color="primary" value="Nej">Nej</mat-radio-button>
                                </mat-radio-group>
                                <div>
                                    <button mat-button matStepperNext type="button">Nästa</button>
                                    <button mat-button matStepperPrevious type="button">Tillbaka</button>
                                </div>
                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel>Mark & Upplåtelse</ng-template>
                                <div class="description">
                                    <p>Äger bostadsrättsföreningen marken</p>

                                </div>
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button #yes3 color="primary" value="Ja">Ja</mat-radio-button>
                                    <mat-radio-button #no3 color="primary" value="Nej">Nej</mat-radio-button>
                                </mat-radio-group>

                                <div class="description">
                                    <p>Har föreningen tomträtt</p>

                                </div>

                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button #yes4 color="primary" value="Ja">Ja</mat-radio-button>
                                    <mat-radio-button #no4 color="primary" value="Nej">Nej</mat-radio-button>
                                </mat-radio-group>

                                <div class="description">
                                    <p>Finns en teknisk underhållsplan</p>
                                </div>
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button #yes5 color="primary" value="Ja">Ja</mat-radio-button>
                                    <mat-radio-button #no5 color="primary" value="Nej">Nej</mat-radio-button>
                                </mat-radio-group>

                                <div>
                                    <button mat-button matStepperNext type="button">Nästa</button>
                                    <button mat-button matStepperPrevious type="button">Tillbaka</button>
                                </div>
                            </mat-step>


                            <mat-step id="apartment">
                                <ng-template matStepLabel>Lägenheten</ng-template>
                                <div class="description">
                                    <p>
                                        Vad är bostadsrättens andel i föreningen?
                                    </p>
                                </div>
                                <div class="input-fields">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="proportionArea">Lägenhetens andel</mat-label>
                                        <input #input1 matInput type="number" [(ngModel)]="brfParams.proportion"
                                            name="proportion" id="proportion" min="0" max="1" step="0.01" required>
                                    </mat-form-field>

                                    <div class="description">
                                        <p>
                                            Hur stor är din lägenhet uttryckt i kvadrameter?
                                        </p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label for="proportionArea">Lägenhetens boyta</mat-label>
                                        <input matInput type="number" [(ngModel)]="brfParams.residenceArea"
                                            name="residenceArea" id="residenceArea" min="0" required>
                                    </mat-form-field>
                                    <div class="description">
                                        <p>
                                            Vad är lägenhetens månadsavgift?
                                        </p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label for="proportionArea">Månadsavgift</mat-label>
                                        <input matInput type="number" [(ngModel)]="brfParams.monthlyFee"
                                            name="monthlyFee" id="monthlyFee" min="0" required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <button mat-button matStepperNext type="button"
                                        [disabled]="!brfParams.monthlyFee || !brfParams.residenceArea || !brfParams.proportion">Nästa
                                    </button>
                                    <button mat-button matStepperPrevious type="button">Tillbaka</button>
                                </div>
                            </mat-step>
                            <mat-step id="community ">
                                <ng-template matStepLabel>Avskrivningar | Amortering | Lån | Resultat</ng-template>


                                <div class="input-fields">
                                    <div class="description">
                                        <p>
                                            Hur mycket lån har bostadsrättsföreningen?
                                        </p>
                                    </div>

                                    <mat-form-field appearance="fill">
                                        <mat-label for="loans">Föreningens lån</mat-label>
                                        <input matInput type="number" [(ngModel)]="brfParams.loans" name="loans"
                                            id="loans" min="0" required>
                                    </mat-form-field>

                                    <div class="description">
                                        <p>
                                            Hur mycket amorterar bostadsrättsföreningen per år?
                                        </p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label for="proportionArea">Amortering</mat-label>
                                        <input matInput type="number" [(ngModel)]="brfParams.amortization"
                                            name="amortization" id="amortization" min="0" required>
                                    </mat-form-field>
                                    <div class="description">
                                        <p>
                                            Hur mycket avskrivningar gör föreningen per år?
                                        </p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label for="proportionArea">Avskrivningar</mat-label>
                                        <input matInput type="number" [(ngModel)]="brfParams.depreciation"
                                            name="depreciation" id="depreciation" min="0" required>
                                    </mat-form-field>

                                    <div class="description">
                                        <p>
                                            Vad blev årets resultat för bostadsföreningen?
                                        </p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label for="proportionArea">Årets Resultat</mat-label>
                                        <input matInput type="number" [(ngModel)]="brfParams.result" name="result"
                                            id="result" required>
                                    </mat-form-field>
                                </div>

                                <div>
                                    <button mat-button matStepperNext type="button"
                                        [disabled]="!brfParams.monthlyFee || !brfParams.residenceArea || !brfParams.proportion">Nästa
                                    </button>
                                    <button mat-button matStepperPrevious type="button">Tillbaka</button>
                                </div>

                            </mat-step>

                            <mat-step id="revenues-costs">

                                <ng-template matStepLabel>Intäkter | Kostnader</ng-template>

                                <div class="input-fields">
                                    <div class="description">
                                        <p>
                                            Fyll i föreningens totala intäkter?
                                        </p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label for="proportionArea">Totala intäkter</mat-label>
                                        <input matInput type="number" [(ngModel)]="brfParams.totalRevenue"
                                            name="totalRevenue" id="totalRevenue" min="0" required>
                                    </mat-form-field>
                                    <div class="description">
                                        <p>
                                            Fyll i föreningens kommersiella intäkter?
                                        </p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label for="proportionArea">Kommersiella intäkter</mat-label>
                                        <input matInput type="number" [(ngModel)]="brfParams.commercialRevenue"
                                            name="commercialRevenue" id="commercialRevenue" min="0" required>
                                    </mat-form-field>
                                </div>
                                <div class="description">
                                    <p>
                                        Vad är föreningens totala kostnader?
                                    </p>
                                </div>
                                <mat-form-field appearance="fill">
                                    <mat-label for="proportionArea">Föreningens kostnader</mat-label>
                                    <input matInput type="number" [(ngModel)]="brfParams.miscellaneousCosts"
                                        name="miscellaneousCosts" id="miscellaneousCosts" min="0" required>
                                </mat-form-field>
                                <div class="description">
                                    <p>
                                        Vad är föreningens kapitalkostnader?
                                    </p>
                                </div>
                                <mat-form-field appearance="fill">
                                    <mat-label for="proportionArea">Kapitalkostnader</mat-label>
                                    <input matInput type="number" [(ngModel)]="brfParams.capitalCosts"
                                        name="capitalCosts" id="capitalCosts" min="0" required>
                                </mat-form-field>
                                <div>
                                    <button mat-button matStepperNext type="button">Nästa</button>
                                    <button mat-button matStepperPrevious type="button">Tillbaka</button>
                                </div>

                            </mat-step>

                            <mat-step id="finished">
                                <ng-template matStepLabel>Beräkna</ng-template>
                                <p>Kör uträkningar för din bostadsrättsförening</p>
                                <div class="ml-2">
                                    <button mat-raised-button color="primary" type="submit" [disabled]="brfForm.invalid"
                                        data-bs-dismiss="modal">Beräkna</button>
                                    <button mat-raised-button color="accent" matStepperPrevious
                                        type="button">Tillbaka</button>
                                </div>
                            </mat-step>
                        </mat-stepper>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</div>

<div #printContainer class="printContainer" style="display: none;">



    <div id="checkList">

        <header>

            <h1>Checklista – köp av bostadsrätt</h1>

        </header>

        <br>

        <hr>



        <div class="row-element">

            <div class="utskrift" style="display: flex;">

                <div>

                    <p>Är bostadsrättsföreningens fastighet fullvärdeförsäkrad</p>

                </div>

                <input type="checkbox">

                <span>Ja</span>

                <input type="checkbox">

                <span>Nej</span>



                <div>

                    <p>Har bostadsrättsföreningen en ansvarsförsäkring för styrelsen</p>

                </div>



                <input type="checkbox">

                <span>Ja</span>

                <input type="checkbox">

                <span>Nej</span>

                <br>

                <div>

                    <p>Äger bostadsföreningen marken</p>

                </div>



                <input type="checkbox">

                <span>Ja</span>

                <input type="checkbox">

                <span>Nej</span>

                <br>

                <div>

                    <p>Har föreningen tomträtt</p>

                </div>



                <input type="checkbox">

                <span>Ja</span>

                <input type="checkbox">

                <span>Nej</span>

                <br><br>

                <div>

                    <p>Finns en teknisk underhållsplan</p>

                </div>



                <input type="checkbox">

                <span>Ja</span>

                <input type="checkbox">

                <span>Nej</span>

                <br><br>

            </div>
        </div>

        <p>

            Om ja, när ska tomträttsavgälden omförhandlas: <b>{{radio1}}</b>

        </p>

        <p>

            Bostadsrättsföreningens värdeår: <b>{{responseData?.proportionAmortization | currency: 'KR/KVM'}}</b>

            <!--kr/kvm-->

        </p>

        <p>

            Lägenhetens andelstal är: <b>{{responseData?.proportion}}</b>

        </p>

        <p>

            Lägenhetens boyta är: <b>{{responseData?.residenceArea}}</b> kvm

        </p>



        <div class="container-print-input">

            <p>_______________________________________________________________________________________________________________________________________

            </p>

            <div class="row-element">

                <div>

                    <p>

                        Lägenhetens andel av föreningens lån

                    </p>



                </div>

                <div>

                    <b>{{responseData?.proportionOfAssociationLoans | currency: 'KR/KVM '}}</b>

                </div>

            </div>

            <p>

                ≤3000 kr/kvm (låg)<br>

                >3000≤6000 kr/kvm (låg till måttlig)<br>

                >6000≤9000 kr/kvm (måttlig till hög)<br>

                >9000 kr/kvm (hög)<br>

            </p>

        </div>



        <div class="container-print-input">

            <p>_______________________________________________________________________________________________________________________________________

            </p>

            <div class="row-element">

                <div>

                    <p>

                        Lägenhetens andel av bostadsrättsföreningens sparande

                    </p>



                </div>

                <div>

                    <b>{{responseData?.proportionOfAssociationSavings | currency: 'KR/KVM '}}</b>

                </div>

            </div>

            <p>

                kr/kvm<br>

                ≤100 kr/kvm (låg)<br>

                >100≤150 kr/kvm (låg till måttlig)<br>

                >150≤200 kr/kvm (måttlig till hög)<br>

                >200 kr/kvm (hög)<br>

            </p>

        </div>



        <div class="container-print-input">

            <p>_______________________________________________________________________________________________________________________________________

            </p>

            <div class="row-element">

                <div>

                    <p>

                        Driftskostnad per kvm boyta

                    </p>



                </div>

                <div>

                    <b>{{responseData?.operatingCostSqm | currency: 'KR/KVM '}}</b>
                    <!--kr/kvm --><br>

                </div>

            </div>

            <p>

                ≤375 kr/kvm (låg)<br>

                >375≤450 kr/kvm (låg till måttlig)<br>

                >450≤550 kr/kvm (måttlig till hög)<br>

                >550 kr/kvm (hög)<br>

            </p>

        </div>



        <div class="container-print-input">

            <p>_______________________________________________________________________________________________________________________________________

            </p>

            <div class="row-element">

                <div>

                    <p>

                        Hur mycket stiger månadsavgiften om räntan stiger med en procentenhet

                    </p>



                </div>

                <div>

                    <b>{{responseData?.interestRateOnePercent | currency: 'KR/KVM'}}</b>
                    <!--kr/mån-->

                </div>

            </div>

        </div>



        <div class="container-print-input">

            <p>_______________________________________________________________________________________________________________________________________

            </p>

            <div class="row-element">

                <div>

                    <p>

                        Årsavgift per kvm boyta

                    </p>



                </div>

                <div>

                    <b>{{responseData?.annualFeeSqm | currency: 'KR/KVM '}}</b><br>

                </div>

            </div>

            <p>
        </div>
    </div>
</div>