.container-fluid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr repeat(3, 1fr);
    grid-template-areas:
        "toolbar toolbar toolbar toolbar"
        "group-one group-three group-three group-four"
        "group-one group-three group-three group-four"
        "group-one group-two group-two group-four"
    ;
    padding-top: 10px !important;
}

hr {
    border: 5px solid green;
}

#toolbar {
    grid-area: toolbar;
    height: 53px;
    background: var(--sw-bg-white);
    border-radius: var(--sw-br4);
    box-shadow: var(--sw-bs-medium);
}

.toolbar-content {
    display: flex;
    height: 100%;
    width: 100%;
    padding: var(--sw-pd2);
    border: 1px solid black;
}

.spacer {
    flex: 1 1 auto;
}

#card-group-three,
#card-group-four,
#toolbar {
    margin: 10px;
}

#card-group-one {
    margin-left: 10px;
}

#card-group-one .sw-card {
    border-bottom-right-radius: 0px !important;
}

#card-group-two {
    margin-right: 10px;
}

#card-group-two .sw-card {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    box-shadow: none;
}



#card-group-one {
    grid-area: group-one;
    border-bottom-left-radius: var(--sw-br4);
    border-top-left-radius: var(--sw-br4);
    border-top-right-radius: var(--sw-br4);
    margin-top: 10px;
}

#card-group-two {
    grid-area: group-two;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: var(--sw-br4);
    border-bottom-right-radius: var(--sw-br4);
    background-color: var(--sw-bg-white);
    padding-left: var(--sw-pd4);
}

#card-group-three {
    grid-area: group-three;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lawngreen;
    border-radius: var(--sw-br4);
}



#card-group-three .left {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 15px;
}

#card-group-three .right {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 15px;
}

#card-group-four {
    display: grid;
    height: 100%;
    grid-area: group-four;
    border: 1px solid lawngreen;
    border-radius: var(--sw-br4);
    margin-bottom: 0px;
}

.chart-container {
    display: grid;
    background-color: var(--sw-light-bg);
    height: 350px;
    width: auto;
    border-radius: var(--sw-br4);
    margin-top: 10px;
}

#doughnut-chart {
    border: 8px solid transparent;
    border-radius: 1.4rem;
}


.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    border: 1px solid black;
    padding: var(--sw-pd2);
}

.card-header h2 {
    height: 100%;
    margin: 0;
}

.card-body {
    height: max-content;
}

.sw-card {
    height: 100%;
    width: 100%;
    background: var(--sw-bg-white);
    border-radius: var(--sw-br4);
    box-shadow: var(--sw-bs-medium);
    padding: var(--sw-pd4);
}

.sw-card-ex-bg {
    height: 100%;
    width: 100%;
    border-radius: var(--sw-br4);
    padding: var(--sw-pd4);
}

