.container-fluid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr repeat(3, 1fr);
    grid-template-areas:
        "toolbar toolbar toolbar toolbar"
        "group-one group-three group-three group-four"
        "group-one group-three group-three group-four"
        "group-one group-two group-two group-four"
    ;
    padding-top: 10px !important;
}

hr {
    border: 5px solid green;
}

.bold-text-big {
    color: rgb(92, 87, 87);
    font-size: 2rem;
    font-weight: 700;
}

.bold-text-small {
    font-size: 1.2rem;
    font-weight: 700;
}

.text {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

#toolbar {
    grid-area: toolbar;
    height: 53px;
    background: var(--sw-bg-white);
    border-radius: var(--sw-br4);
    box-shadow: var(--sw-bs-medium);
}

.toolbar-content {
    display: flex;
    height: 100%;
    width: 100%;
    padding: var(--sw-pd2);
}

.spacer {
    flex: 1 1 auto;
}

#card-group-two, 
#card-group-three,
#card-group-four,
#toolbar {
    margin: 10px;
}


#card-group-two {
    box-shadow: var(--sw-bs-medium);
    border-radius: var(--sw-br4);
}

#card-group-two .sw-card {
    border-radius: var(--sw-br4);
    box-shadow: var(--sw-bs-medium);
}



#card-group-one {
    grid-area: group-one;
    box-shadow: var(--sw-bs-medium);
    overflow: scroll;

}

#card-group-one .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-buttons {
    background-color: rgb(42, 203, 231)!important;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    align-items: center;
    padding: var(--sw-pd2);
}

.question {
    background-color: orange !important;
    align-items: center;
}

#card-group-one .card-body .slider {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 90%;
    background-color: var(--sw-bg-white);
    border-radius: var(--sw-br4);
    box-shadow: var(--sw-bs-medium);
}

mat-slider {
    height: 90%;
}

mat-slider input {
    width: 20px !important;
}

::ng-deep .mat-slider-thumb-label {
    border-radius: 8px 8px !important;
    display: flex !important;
    flex: 1 0 100%;
    flex-direction: row;
    padding-left: 6px;
    padding-right: 6px;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    left: 20px !important;
    width: unset !important;
    background-color: var(--sw-bg-primary) !important;
}

::ng-deep .mat-slider-thumb-label-text {
    transform: rotate(0) !important;
}

#card-group-one .card-body .display-value {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: var(--sw-pd4);
    margin: 10px;
    height: 90%;
    width: 100%;
}

#card-group-one::-webkit-scrollbar {
    display: none;
}

#card-group-two {
    grid-area: group-two;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: var(--sw-br4);
    border-bottom-right-radius: var(--sw-br4);
    background-color: var(--sw-bg-white);
    padding-left: var(--sw-pd4);
    overflow: scroll;
}

#card-group-two::-webkit-scrollbar {
    display: none;
}

#card-group-three {
    grid-area: group-three;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: var(--sw-br4);
    overflow: scroll;
}

#card-group-three::-webkit-scrollbar {
    display: none;
}



#card-group-three .left {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 15px;
}

#card-group-three .right {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 15px;
}

#card-group-four {
    display: grid;
    height: 100%;
    grid-area: group-four;
    border-radius: var(--sw-br4);
    box-shadow: var(--sw-bs-medium);
    overflow: scroll;
}

#card-group-four::-webkit-scrollbar {
    display: none;
}

#card-group-four .list {
    display: flex;
    height: 200px;
    flex-direction: column;
}

.risk-list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--sw-light-bg);
    padding: var(--sw-pd4);
    overflow: scroll;
}

.risk-list::-webkit-scrollbar {
    display: none;
}


.chart-container {
    display: grid;
    background-color: var(--sw-light-bg);
    height: 250px;
    width: auto;
    border-radius: var(--sw-br4);
    margin-top: 10px;
}

#doughnut-chart {
    border: 8px solid transparent;
    border-radius: 1.4rem;
}


.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    padding: var(--sw-pd2);
}

.card-header h2 {
    height: 100%;
}

.card-body {
    height: fit-content;
}

#card-group-three .card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

#card-group-two .card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

mat-progress-bar {
    height: 10px;
}

#card-group-three .card-body .risk-limit-text {
    padding: var(--sw-pd3);
}


.sw-card {
    height: 100%;
    width: 100%;
    background: var(--sw-bg-white);
    border-radius: var(--sw-br4);
    box-shadow: var(--sw-bs-medium);
    padding: var(--sw-pd4);
}

.sw-card-ex-bg {
    height: 100%;
    width: 100%;
    border-radius: var(--sw-br4);
    padding: var(--sw-pd4);
}

.modal-header {
    position: sticky;
    z-index: 100;
    top: 0;
    right: 0;
    border-bottom-color: #EEEEEE;
    background: rgb(255, 255, 255) !important;
}

.modal-footer {
    position: fixed;
    background-color: white;
    bottom: 0;
    right: 0;
    width: 100%;
    height: fit-content;
}

.modal-content {
    border-radius: 0px !important;
    border: none;
}

.modal-content::-webkit-scrollbar {
    display: none;

}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    right: 0%;
    bottom: 0%;
    width: 350px;
    height: calc(100vh - 64px);
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right.fade .modal-dialog {
    right: -350px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade .modal-dialog {
    right: 0%;
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal-backdrop {
    background-color: transparent !important;
}

.mat-mdc-radio-button.mat-primary {
    --mdc-radio-selected-focus-icon-color: #ee71239b;
    --mdc-radio-selected-hover-icon-color: #8a590fb1;
    --mdc-radio-selected-icon-color: #ee7023;

}

.radio-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

