<div class="container-fluid h-100">

    <div id="toolbar">
        <button mat-raised-button>
            <mat-icon>calculate</mat-icon>
            Ny Kalkyl
        </button>
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>
    </div>


    <div id="card-group-one">
        <p>1</p>
        <!--div class="sw-card">
            <div class="card-header">
                <div class="card-content">
    
                </div>
            </div>
        </div-->
    </div>

    <div id="card-group-two">
        <p>2</p>
        <!--div class="sw-card">
            <div class="card-header">
                <div class="card-content">
    
                </div>
            </div>
        </div-->
    </div>

    <div id="card-group-three">
        <p>3</p>
        <!--div class="sw-card">
            <div class="card-header">
                <div class="card-content">
    
                </div>
            </div>
        </div-->
    </div>

    <div id="card-group-four">
        <p>4</p>
        <!--div class="sw-card">
            <div class="card-header">
                <div class="card-content">
    
                </div>
            </div>
        </div-->
    </div>
</div>