<mat-toolbar>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button routerLink="/home">
        <mat-icon aria-hidden="false" class="sidenav-link-icon" aria-label="Example home icon">
            home
        </mat-icon>
    </button>

    <button mat-icon-button routerLink="/brf-dashboard">
        <mat-icon aria-hidden="false" class="sidenav-link-icon" aria-label="Example home icon">
            question_mark
        </mat-icon>
    </button>

    <span class="spacer"></span>
    <button mat-icon-button class="action" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <mat-icon> play_circle </mat-icon>
    </button>
    <button mat-icon-button class="action">
        <mat-icon>
            <span class="material-symbols-rounded">
                language
            </span>
        </mat-icon>
    </button>
    <button mat-icon-button routerLink="faq">
        <mat-icon aria-hidden="false" class="sidenav-link-icon" aria-label="Example home icon">
            question_mark
        </mat-icon>
    </button>
</mat-toolbar>