<mat-toolbar>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button routerLink="/home">
        <mat-icon aria-hidden="false" class="sidenav-link-icon" aria-label="Example home icon">
            home
        </mat-icon>
    </button>

    <button mat-icon-button routerLink="/brf-dashboard">
        <mat-icon aria-hidden="false" class="sidenav-link-icon" aria-label="Example home icon">
            question_mark
        </mat-icon>
    </button>

    <button mat-icon-button routerLink="/feedback">
        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                rate_review        
        </mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button class="action" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <mat-icon> play_circle </mat-icon>
    </button>
    <button mat-icon-button class="action">
        <mat-icon>
            <span class="material-symbols-rounded">
                language
            </span>
        </mat-icon>
    </button>
    <button mat-icon-button routerLink="faq">
        <mat-icon aria-hidden="false" class="sidenav-link-icon" aria-label="Example home icon">
            question_mark
        </mat-icon>
    </button>
</mat-toolbar>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Föreningens Ekonomi</h1>
                <button mat-mini-fab type="button" color="primary" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <video src="../../../../assets/img/output.mp4" width="100%" height="100%" controls></video>

            </div>
        </div>
    </div>
</div>