

html, body { height: 100%; }
body { 
    padding: 0;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

:root {
    --sw-primary: #ff9100;
    --icon-light: white;
    --font-light: white; 
}

mat-icon {
    color: var(--icon-light);
}

.light-text {
    color: var(--font-light);
}

.button-primary {
    padding: 5px !important;
    background-color: var(--sw-primary) !important;
}