<div class="background"
    style="background-image: url('../../../assets/img/oakLeafBackground.jpg'); background-size:cover;">
    <div class="sectionOne">
        <div class="card-overlay">
            <div class="card-content" style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: fit-content;
                    background-color: white;
                    border-radius: var(--sw-br4); padding: var(--sw-pd4);
                    box-shadow: var(--sw-bs-medium);">
                <div class="headers">
                    <h3 class="bold-text-big">Lämna ditt omdöme<span></span></h3>
                    <br />
                    <form #feedbackForm="ngForm" (ngSubmit)="onFeedback(feedbackForm)">
                        <input type="hidden" id="id" name="id" [(ngModel)]="feedback.id">
                        <input type="hidden" id="feedbackAt" name="feedbackAt" [(ngModel)]="feedback.feedbackAt">

                        <div class="description"
                            style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
                            <textarea style="background-color: rgb(238, 238, 238); border: none; border-radius: 1rem; padding: 10px;" name="statement" id="statement" [(ngModel)]="feedback.statement" cols="30"
                                rows="10" placeholder="Vad kan vi förbättra?">
                                </textarea>
                        </div>
                        <div class="center">
                            <div class="drop-down">
                                <mat-form-field appearance="fill">
                                    <mat-label>Betyg</mat-label>
                                    <mat-select name="rating" id="rating" [(ngModel)]="feedback.rating">
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="2">2</mat-option>
                                        <mat-option value="3">3</mat-option>
                                        <mat-option value="4">4</mat-option>
                                        <mat-option value="5">5</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="actions justify-content-evenly" style="display: flex; color: white;">
                                <button class="m-2" mat-raised-button routerLink="/home">
                                    Nej tack!
                                </button>
                                <button class="m-2" mat-raised-button type="submit" routerLink="/home">
                                    Skicka
                                </button>
                            </div>
                            <hr>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>