<!--div class="content" style="padding: 100px; background-color: crimson;">
    <button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i"
        (click)="onClick(i+1)" [matTooltip]="ratingId" matTooltipPosition="above">
        <mat-icon>
            {{showIcon(i)}}
        </mat-icon>
    </button>
    <mat-error *ngIf="starCount == null || starCount == 0">
        Star count is <strong>required</strong> and cannot be zero
    </mat-error>
    <p class="body-2">
        Your rated <span class="body-2">{{rating}}</span> / <span class="body-2">{{starCount}}</span>
    </p-->
<div class="background"
    style="background-image: url('../../../assets/img/oakLeafBackground.jpg'); background-size:cover;">
    <div class="sectionOne">
        <div class="card-overlay">
            <div class="card-content" style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(246, 240, 240);
                    border-radius: var(--sw-br4); padding: var(--sw-pd4);">
                <div class="headers">
                    <h3>Vänligen lämna omdöme<span></span></h3>
                    <br/>
                    <form #feedbackForm="ngForm" (ngSubmit)="onFeedback(feedbackForm)">
                        <input type="hidden" id="id" name="name" [(ngModel)]="feedback.id">
                        <input type="hidden" id="feedbackAt" name="feedbackAt" [(ngModel)]="feedback.feedbackAt">

                        <div class="description"
                            style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
                            <textarea name="statement" id="statement" [(ngModel)]="feedback.statement" cols="30"
                                rows="10" placeholder="Kommentar">
                                </textarea>
                        </div>
                        <div class="center">
                            <div class="drop-down">
                            <mat-form-field appearance="fill">
                                <mat-label>Betyg</mat-label>
                                <mat-select name="rating" id="rating" [(ngModel)]="feedback.rating">
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!--div class="box box-large centered-column">
                                    {{value}}
                                    <div class="slider">
                                        <div>
                                            <label class="example-value-label bold-text-small">{{value}}</label>
                                        </div>
                                        <mat-slider [(ngModel)]="value" id="interest-slider" class="example-margin" thumbLabel
                                            [max]="max" [min]="min" [vertical]="false" [step]="step"
                                            (valueChange)="onRating()">
                                        </mat-slider>
                                    </div>
                        
                                </div-->
                        </div>
                        <div class="actions justify-content-evenly" style="display: flex; color: white;">
                            <button mat-raised-button routerLink="/home">
                                Nej tack!
                            </button>
                            <button mat-raised-button type="submit" routerLink="/home">
                                Skicka
                            </button>
                        </div>
                        <hr>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>